/********** Général **********/
* {
    box-sizing: border-box;
	font-family: 'Parisienne', cursive;
}

html,body {
	margin: 0;
	padding: 0;
    height:100%;
}

body { 
    background-image:url('../images/background.jpg');
    

}

/********** Barre de navigation **********/

 .navbar > .container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: stretch;
	
} 

.container>.navbar-header {
    margin-right: -25px;
    margin-left: -35px;
}

.navbar-fixed-bottom, .navbar-fixed-top {
	position: fixed;
    right: 0;
    left: 0;
    z-index: 1000;
}

.navbar-default {
	background-color: transparent;
	background-image: url('../images/bg-header.jpg');
	border-color: transparent;
	box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
}

.navbar-brand > img {
	max-height: 100px;
	position: absolute;
	float: left;
	z-index: 1000;
}

.site-name {
	color:#fff;
	margin-left:100px;
	font-size: 2rem;
}

/********** Menu Hamburger **********/

li > a {
	color:white;
	font-size: 1.5rem;
	text-decoration: none;
}

li > a:hover {
	background-color: #311D14;
	color: #FFF;
	padding: 10px 30px;
	border-radius: 20px;
}


#burger {
  top : -25px;
  right: -15px;
  width:30px;
  height:3px;
  background:white;
  position:relative;
  float: right;

}

#burger::before,
#burger::after {
  content:'';
  width:30px;
  height:3px;
  background:white;
  display:inline-block;
  position:absolute;
  transform-origin: center;
  transition: all 0.3s ease;
}

#burger::before {
  top:-7px;
}

#burger::after {
  top:7px;
}

#burger.open {
  background:transparent;
}

#burger.open::before {
  transform: rotate(45deg);
  top:0;
}

#burger.open::after {
  transform: rotate(-45deg);
  top:0;
}

 header {
  position:relative;
  max-width:500px;
} 

ul {
  background-image: url('../images/bg-header.jpg');
  position:absolute;
  width:100%;
  left:0;
  top:100%;
  padding:10px 0;
  transform:scaleY(0);
  transform-origin:center top;
  transition:all 0.3s ease;
}

ul.open {
  transform:scaleY(1);
}

ul li {
  padding:5px 0;
  text-align:center
}	



/********** Sign **********/

.sign {
    height:100%;
}

.fill {
    width:100%;
    height:100%;
	height: 600px;
    background-image: url(../images/savoyard-restaurant.png);
    background-position:center;
    background-size:cover;
    padding-left:0;
    padding-right:0;
}


/********** Carousel **********/

img.d-block {
	object-fit: contain;

}



/***** Cadre central Titre *****/

.img-sign {
    background-color: rgba(39, 16, 7, 0.4);
	border-radius: 20px;
	padding: 35px;
    text-decoration: none;
	position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
   	-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.img-sign h1 {
	font-size: 1.8rem;
	color:#FFFFFF;
	margin:0;
}

/********** Contenu central **********/
.template-row {
	font-size:18px;
    margin:30px 0;
}

.template-row .separateur {
	background-image: url('../images/separateur.png');
	background-repeat: no-repeat;
	background-position: center center;
	height:15px;
	margin:28px 0;
}	
	
p.text-justify {
    text-align: justify;
	font-size: 1.4rem;
}

/********** CTA Réservation **********/

#blocks {
    border-radius: 4px;
    background-image: url(../images/bg-header.jpg);
    padding: 10px 20px;
    margin-top: 30px;
}

#blocks .item-block {
    background-image: url(../images/bg-blocks.png);
    padding: 10px;
    position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
}

#plats.item-block:before {
    content: ' ';
    background-image: url(../images/ic-plats.png);
    width: 42px;
    height: 50px;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 15px;
}


#groupe.item-block:before {
    content: ' ';
    background-image: url(../images/ic-people.png);
    width: 39px;
    height: 40px;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 15px;
}

#reservation.item-block:before {
    content: ' ';
    background-image: url(../images/ic-phone.png);
    width: 46px;
    height: 34px;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 15px;
}


/********** Pied de page **********/

#footer {
    color: #FFF;
	background-image: url(../images/bg-footer.jpg);
}

#footer a { 
    color:#FFFFFF; 
	text-decoration: none;
}

#footer p {
	font-size: 1.3rem;
	margin-bottom: 0;
}
#footer #block-right {
	margin: 20px 0;
    padding-right: 20px;
	border-right:3px solid white;
	
}
#footer #block-left {
    margin: 20px 0; 
    padding-left: 20px;
	border-left:3px solid white;
	
}

p.text-left {
    text-align: left;
}

p.text-right {
    text-align: right;
}



/********** Media Queries **********/








	











/*@media (min-width: 768px) {
	.navbar-default {
		background-color: transparent;
		background-image: url('../images/bg-header.jpg');
		background-repeat: repeat-x;
		border-color: transparent;
		box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
	}
	.navbar-nav>li>a {
	    background: url('../images/bg-item.png') 0 0;
	    width: 100px;
	    height: 45px;
	    margin-right: 7px;
	    text-align: center;
	}
	.navbar-brand>img {
		position:absolute;
	}
	.navbar-default .navbar-nav>li>a:hover,
	.navbar-default .navbar-nav>li>a:focus,
	.navbar-default .navbar-nav>.active>a,
	.navbar-default .navbar-nav>.active>a:focus,
	.navbar-default .navbar-nav>.active>a:hover {
		color:#FFFFFF;
		background-color: transparent;
		border-color: transparent;
	    background: url('../images/bg-item.png') 0 -45px;
	}
}
.navbar-default .navbar-toggle {
	border-color:#201209;
	background-color: #311d14;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	background-color: #201209;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color:#FFFFFF;
}*/









